body {
    background-color: darkgrey;
}



.selections button {
    margin: 0;
    width: 260px;
    height: 240px;
    background-color: yellow;
    border-color: black;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: 70px;
    
}

.selections {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.selections button:hover{
    transform: scale(1.2);
    border-color: red;
}

.results {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.result {
    display: flex;
    gap: 200px;
    font-size: 50px;

}

